body{background-color:var(--2);
text-align: center; justify-content: center;
font-family: 'Rubik Bubbles', cursive;
;
}
.height{height: 200px;}
:root{
    --color1: rgb(35, 112, 193);
    --color2: rgb(38, 205, 110);
    --color3: rgb(131, 216, 233);
    --color4: rgb(5, 54, 28);
    --color5: rgb(22, 12, 115);
    --color6: rgb(90, 173, 148);}
.rebranddark{ 
    --1: var(--color2);
    --2: var(--color1);
    --3: var(--color3);
    --4: var(--color5);  
   }
.rebrandlight {
    --1: var(--color1);
    --2: var(--color2);
    --3: var(--color4);
    --4: var(--color6);
   }

#titlecard {
    text-align: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: white
    
}


#buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
}

#rebrand,#blue,#green,#red,#brown,#orange,#grey,#black,#yellow,#purple,#classic,#reboot,#big,#medium,#small,#tiny,#steam,#human,#road,#all,#diesel
{  display: inline-block;
    cursor: pointer;
    font-size: 1.4rem;
    border-radius: 15px;
    width: 150px;
    height: 70px;
    background-color: var(--3);
    border: solid var(--4) 10px;
    color: var(--2);
}
#boxarea{
    margin: 30px;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.inner{

    font-size: 1.5rem;
    align-items: center;
    text-align: center;
    padding: 16px;

    width: 300px;
    height: 300px;
    margin-bottom: 20px ;
    font-weight: 400;
    border-radius: 25px;
    background-color: var(--3);
    border: solid var(--4) 10px;
    color:var(--4)
}
.sodor{
    width: 350px;
    padding: 5px,5px,10px,5px;
    border-radius: 30px;
    background-color: var(--3);
    border: solid var(--4);
    color: var(--2);
    text-align: center;
    font-size: 29px;

    
}
.height{padding-bottom: 40px;}
.head{text-align: center;
justify-content: center;
}
.title{color: white;}